.container {
  background-color: $black;
  background-size: cover;
  color: $white;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;

  .sasslogo,
  .pokeapi {
    width: 120px;
    height: 60px;
  }

  .reactlogo,
  .img-github,
  .img-linkedin {
    width: 70px;
    height: 70px;
  }

  @media screen and (max-width: 582px) {
    font-size: 5px;
    .sasslogo,
    .pokeapi {
      width: 60px;
      height: 20px;
    }
    .reactlogo,
    .img-github,
    .img-linkedin {
      width: 30px;
      height: 30px;
    }
  }
  @media screen and (max-width: 391px) {
    .sasslogo,
    .pokeapi,
    .reactlogo,
    .img-github,
    .img-linkedin {
      display: none;
      overflow: hidden;
    }
  }
}
