.navbar {
  @include verticalCenter;
  flex-direction: row;
  background-color: $color1;

  img {
    width: 150px;
    height: 70px;
    margin-right: auto;
  }

  ul {
    display: flex;
    margin-right: auto;
  }

  a {
    text-decoration: none;
    padding: 30px;

    li {
      color: $color3;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        color: $color2;
      }
    }
  }

  @media screen and (max-width: 871px) {
    img {
      width: 90px;
      height: 40px;
    }

    ul {
      font-size: 10px;
    }

    a {
      padding: 30px 10px;
    }
  }

  @media screen and (max-width: 567px) {
    img {
      display: none;
    }
  }

  @media screen and (max-width: 280px) {
    ul {
      font-size: 6px;
    }
  }
}
